@media screen and (min-width: 769px) 
{
    :root 
    
    {
        --cor1 :  #07980cd7;
        --cor2:rgba(18, 200, 236, 0.843);
        --cor3: #065716;
        --cor4: #e0e0e0b5;
        --cor5:  #0fc416d7;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        outline: none;
    }

    img 
    {
        height: 40px;
        margin-left: 40px;
    }

    nav li  
    {
        display: inline-block;
        margin-left: 10px;
        margin-right: 40px;
        color: black;
    }
   
    
    #burger 
    {
        display: none;
    }
    nav a
    {
        color: black;
    }
    .form 
    {
        width: 550px;
        height: 250px;
    }
    
    nav a 
    {
        background-image: linear-gradient(to bottom,var(--cor1),var(--cor2));
        padding: 10px;
        color: white;
        border-radius: 5px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.551);
        transform-origin: 0.5s;
        padding: 10px;
       
     }
}
