@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    background-color: var(--cor5);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

img {
    width: 45%;
}

div {
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.HeaderLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.HeaderLogin h1 {
    text-align: center;
    color: var(--cor3);
}

fieldset {
    padding: 18px;
    border-radius: 5px;
}

fieldset legend {
    font-weight: 600;
    font-size: 20px;
}

span {
    color: #065716;
    font-weight: bolder;
}
.custom-date{
    width: 95%;
    border: 2px solid var(--cor3);
    height: 40px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: white; 
    color: black;
}

.MainLogin form input[type="date"]::-webkit-calendar-picker-indicator {
    background: black; 
    border-radius: 5px;
}

.MainLogin form input[type="text"],

.MainLogin form input[type="number"],
.MainLogin form input[type="email"],
.MainLogin form input[type="tel"] {
    width: 95%;
    border: 2px solid var(--cor3);
    height: 40px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: black;
}

.MainLogin form input[type="password"] {
    width: 70%;
    border: 2px solid var(--cor3);
    height: 40px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

button {
    padding: 8px;
    border-radius: 10px;
    margin-left: -5px;
    font-weight: 500;
    background-color: var(--cor2);
    color:black;
}

.password-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.password-container input[type="password"] {
    flex: 1;
}

.password-container button {
    padding: 8px 10px;
    border-radius: 10px;
    background-color: var(--cor2);
    border: 2px solid var(--cor3);
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    color:black;
    margin-left: -10px;
    height: 40px;
}

.password-container button:hover {
    background-color: var(--cor1);
    color: white;
    transform: translate(-2px, -1px);
}

fieldset #Gender {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    accent-color: var(--cor1);
}

select {
    margin: 10px;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--cor3);
    font-weight: 600;
    background-color: var(--cor2);
    height: 40px;
    color: black;
}
input[type="date"]{
color: black;
}
select:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    background-color: var(--cor1);
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
    transform: translate(-10px, -1px);
}

input[type="button"] {
    text-align: center;
    width: 95%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--cor2);
    color:black;
    height: 40px;

}

footer {
    padding: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: var(--cor3);
}

input[type="checkbox"] {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    accent-color: var(--cor3);
    color:black;
}

input[type="submit"],
input[type="reset"] {
    display: block;
    margin: auto;
    width: 90%;
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--cor2);
    color:black;
    height: 40px;
}
