@charset "UTF-8";

img {
    width: 45%;
}
:root{
    --cor1 :  #07980cd7;
    --cor2:rgba(18, 200, 236, 0.843);
    --cor3: #065716;
    --cor4: #e0e0e0;
    --cor5:rgb(0, 128, 255);
}

*{
    box-sizing: border-box;
    margin: 0px ;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}
body
{
    overflow-y: hidden;
    
}
main{
  height: 100vh;  
    position: relative;
    background-image:  linear-gradient(to bottom, var(--cor1), var(--cor2));
    background-color: var(--cor5);
    display: flex;
    align-items:center ;
    justify-content: center;
}

.tela{
    position: absolute;
    background-color:white;
    width: 80%;
    min-height: 650px;
     border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.619);
    transition: width 3s, height 3s ease-in-out;

}
h1{
    margin: 10px;
    text-align: center;
    font-weight: 500;
}
.HeaderLogin{
   margin-top: 20px;
    text-align: center;
    overflow: hidden;
    height: 150px;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom:  20px;
}
.HeaderLogin{
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
#nome,#senha
{     

   
   height: 35px;
   width: 90%;
   padding: 10px;
   margin-bottom: 15px;
   margin-left: 16px;  
   border-radius: 5px;
   border: 1px solid var(--cor3);

}
#entrar{
    height: 35px;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 16px; 
    margin-top: 20px; 
    border: 1px solid var(--cor3);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--cor1);
    
    color: white;
    font-weight: 600;
    transition-duration: 0.6s;
    
    
}
#entrar:hover{
    background-color: var(--cor2);
    transform: translate(-5px,-5px);
    border: none;
    
  

}
#check{
    
   
   padding: 10px;
   accent-color: var(--cor1);
   margin-left: 16px;  
   border-radius: 5px;
   color: white;
}
.footer{
    text-align: center;
    margin-top: 15px;
    margin: 25px;
   
   
}
.footer span{
    color: #065716;
    font-weight: bolder;
}

#registro{
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    color: #04bf0a;
    font-weight: bold;
}
#rec a {
    margin-left: 16px;  
    margin-bottom: 10px;
    color: #04bf0a;
    font-weight: bolder;
    text-decoration: none;
}/* Estilos para botões de login social no mobile */
/* Estilo para a linha horizontal, o botão e os ícones sociais */
.divider-container {
    text-align: center;
    margin: 20px 0;
}

.divider {
    width: 70%;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.social-icons {
    text-align: center;
    margin: 20px 0;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
    color: #333; /* Cor dos ícones, ajuste conforme necessário */
    text-decoration: none;
}

.social-icon:hover {
    color: #007bff; /* Cor dos ícones ao passar o mouse sobre eles */
}
.fa-facebook-f{
   
    border: 1px solid var(--cor3);
    padding: 15px;
    border-radius: 5px;
    font-size: 30px;
    transition-duration: 0.5s;
    color: #007bff;

}
.fa-facebook-f:hover, .fa-google:hover{
  
   transition-duration: 0.5s;
   background-image: linear-gradient(to right , var(--cor1),var(--cor2));
   
}
.fa-google{
    border: 1px solid var(--cor3);
    padding: 14px;
    border-radius: 5px;
    font-size: 30px;
    transition-duration: 0.5s;
    color: rgba(255, 0, 0, 0.8);
}
