@charset "Utf-8";

@media screen  and (min-width:769px )
{
    img 
    {
        width: 45%;
    }
    :root
    {
        --cor1 :  #07980cd7;
        --cor2:rgba(18, 200, 236, 0.843);
        --cor3: #065716;
        --cor4: #e0e0e0;
    }
    
    *{
        box-sizing: border-box;
        margin: 0px ;
        padding: 0px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        outline: none;
    }
    body
    {
        overflow-y: hidden;
        
    }
    main
    {
      height: 100vh;  
        position: relative;
        background-image:  linear-gradient(to bottom, var(--cor1), var(--cor2));
    
    }
    
    .tela
    {
        position: absolute;
        background-color:white;
        width: 400px;
        height: 600px;
        top: 50%;
        left:50%;
        transform:  translate(-50%,-50%);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.619);
        transition: width 0.5s, height 0.5s ease-in-out;
    
    }
    .HeaderLogin
    {
        margin-top: 10px;
        text-align: center;
        overflow: hidden;
        height: 150px;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-bottom:  20px;
    }
    .HeaderLogin p{
       
       
     margin: auto;
     padding: auto;

    }
    
#nome,#senha
{     
    
   height: 45px;
   width: 90%;
   padding: 10px;
   margin-bottom: 15px;
   margin-left: 16px;  
   border-radius: 5px;
   border: 1px solid var(--cor3);
  
  
}
#entrar
{
    height: 45px;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 16px; 
    margin-top: 20px; 
    border: 1px solid var(--cor3);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--cor1);
    color: white;
    font-weight: 600px;
}
#check
{
   padding: 10px;
   accent-color: var(--cor1);
   margin-left: 16px;  
   border-radius: 5px;
   color: white;
}
.footer
{
    text-align: center;
    margin-top: 15px;
   
   
}
.footer span
{
    color: #065716;
    font-weight: bolder;
}

#registro
{
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    color: #04bf0a;
    font-weight: bold;
}
#rec a
{
    margin-left: 15px;  
    margin-bottom: 10px;
    color: #04bf0a;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;

}

.HeaderLogin p{
  margin: auto;
  padding-bottom: 10px;
   padding-left: 10px;
   padding-left: 10px;
  


}


}



