@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}

img {
    height: 50px;
    font-size: 25px;
    margin-left: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.422);
}

:root {
    --cor1: #07980cd7;
    --cor2: rgba(18, 200, 236, 0.843);
    --cor3: #065716;
    --cor4: #e0e0e0b5;
    --cor5: #0fc416d7;
    --cor6: rgb(0, 128, 255);
}

body {
    background-color: var(--cor4);
}

.header-container {
    min-height: 120px;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    position: sticky;
    top: 0;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.448);
    background-color: var(--cor6);
    z-index: 1000;
}

.header-son {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

ul {
    list-style-type: none;
}

#burger {
    margin-right: 20px;
    font-size: 25px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.422);
    z-index: 1001;
}

#menu i {
    color: white;
    padding: 5px;
}

#copy {
    color: white;
    font-weight: 600;
}

nav a:hover {
    transform: translate(-1px, -10px);
    transition-duration: 0.7s;
    padding: 10px;
    border-bottom: 2px solid white;
}

footer {
    background: linear-gradient(to bottom, var(--cor1), var(--cor2));
    color: #fff;
    text-align: center;
    padding: 20px 10px;
    background-color: var(--cor6);
    display: flex;
    flex-direction: column; /* Default for mobile */
    align-items: center;
    gap: 10px; /* Space between elements */
}


@media screen and (min-width: 992px) {
    #burger {
        display: none;
    }

    header {
        padding-top: 15px;
    }

    nav li {
        display: inline-block;
        text-decoration: none;
        margin: 10px;
    }

    nav li a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.411);
    }
    
    


    
}


@media screen and (max-width: 992px) {
    .footer-link ul li {
        margin-top: 5px;
    }

    .footer-link ul li a {
        color: white;
        text-decoration: none;
        font-weight: 600;
    }

    #menu-burger {
        display: none;
    }

    nav {
        display: none;
        position: fixed;
        padding-top: 90px;
        top: -1%;
        width: 200px;
        right: 1px;
        height: 100vh;
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
        background-color: var(--cor6);
        text-align: center;
    }

    nav a {
        display: block;
        color: white;
        border-bottom: 2px solid white;
        padding: 10px;
        margin-top: 20px;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.449);
        text-decoration: none;
    }

    footer hr {
        border: 0;
        height: 1px;
        background: #fff;
        margin: 20px auto;
        width: 80%;
    }
    
footer h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 5px 10px;
    font-size: 18px;
}

footer a:hover {
    text-decoration: underline;
}

footer .social-icons {
    margin: 20px 0;
}

footer .social-icons a {
    margin: 0 10px;
    display: inline-block;
}

footer .social-icons i {
    width: 32px;
    height: 32px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.458);
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

footer p {
    margin: 10px 0;
    font-size: 14px;
}
}
