@charset "UTF-8";

 header img {
    height: 50px;
    font-size: 25px;
    margin-left: 20px;
    
    
      
    
    
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.422);
}
@font-face {
    font-family: Fonte-destaque;
    src: url(../../Assets/Font/Roboto-Regular.ttf)format
    ("ttf");
}
:root{
    --cor1 :  #07980cd7;
    --cor2:rgba(18, 200, 236, 0.843);
    --cor3: #065716;
    --cor4: #e0e0e0;
    --cor5:rgb(0, 128, 255);
    --font-family1: var(Fonte-destaque);
}

*{
    box-sizing: border-box;
    margin: 0px ;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    
  
    
}

main{
    background-color: var(--cor4);
    
      

  
}
body,html{
    height: 100vh;
    background-color: var(--cor4);
   
    
   
    
    
}
header{
    min-height: 120px;
    background-image: linear-gradient(to bottom,var(--cor1),var(--cor2));
    width: 100%;
    position: sticky;
    top:0;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.448);
    background-color: var(--cor5);
    
    
    z-index: 1000;
    

}
.select-modality-button{
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 10px;
    background-color: var(--cor2);
    font-weight: bolder;
    border: none;
    box-shadow: 1px 0px 1pX rgba(0, 0, 0, 0.522);
    margin-bottom: 10PX;
    color: black;
    
   


}

nav ul {
    list-style-type: none;
}
/* Estilos gerais */
#dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}





footer
{
    margin-top: 10px;
    width: 100%;
    background-image: linear-gradient(to bottom,var(--cor1),var(--cor2));
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
    padding-top: 20px;
    background-color: var(--cor5);
    
    
}
#copy{
    color:white;
    font-weight: 500;
    text-shadow: 1px  2px 3px rgba(62, 61, 61, 0.57);
}
#footer_itens a{
    text-decoration: none;
    margin: 10px;
    color: white;
    text-shadow: 1px 0px 1px black;
    font-size: 20px;
    cursor: pointer;
}
#footer_itens a:hover
{
    transition-duration: 0.5s;
    transform: translate(-10px,-10px);
}
 

span{
    color: var(--cor1);
    
}
