@charset "Utf-8";

*{
    box-sizing: border-box;
    margin: 0px ;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}
img 
{
    height: 50px;
    font-size: 25px;
    margin-left: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.422);
}
:root{
    --cor1 :  #07980cd7;
    --cor2:rgba(18, 200, 236, 0.843);
    --cor3: #065716;
    --cor4: #e0e0e0b5;
    --cor5:  #0fc416d7;
    --cor6:rgb(0, 128, 255);
}
body
{
    background-color: var(--cor4);
}
.header-container
{
    min-height: 120px;
    width: 100%;
    background-image: linear-gradient(to bottom,var(--cor1),var(--cor2));
    position: sticky;
    top:0;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.448);
    background-color: var(--cor6);
    z-index: 1000;
}
.header-son
{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    ul{
        list-style-type: none;
    }
} 

#burger {
    margin-right: 20px;
    font-size: 25px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.422);
    z-index: 1001;
}
 
footer
{
   
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(to bottom,var(--cor1),var(--cor2));
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
    padding-top: 30px;
    background-color: var(--cor6);
    
    
}
#copy
{
    color:white;
    font-weight: 500;
    text-shadow: 1px  2px 3px rgba(62, 61, 61, 0.57);
}
#footer_itens a
{
    text-decoration: none;
    margin: 10px;
    color: white;
    text-shadow: 1px 0px 1px black;
    font-size: 20px;
    cursor: pointer;
}
#footer_itens a:hover
{
    transition-duration: 0.5s;
    transform: translate(-10px,-10px);
}
.footer-link
{
    display: flex;
    flex-direction: row;
   
    a{
        
        text-decoration: none;
        text-align: justify;
        color: white;
        padding: 10px;
        font-weight: 600;
        text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.411);


    }
 

} 
nav a:hover {
    transform: translate(-1PX, -10px);
    transition-duration: 0.7s;
    padding: 10px;
    border-bottom: 2px solid white;
} 

@media screen and (max-width:768px ) {
    
    #menu-burger
    {
        display: none;
    }
    
}
@media screen and (min-width:991.99px) {
    #burger {
        display: none;
    }

    header {
        padding-top: 15px;
    }

    nav li{
        display: inline-block;
        text-decoration: none;
        margin: 10px;
    }
    nav li a{
        text-decoration: none;
        color: white;
        font-weight:600 ;
        text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.411);

    }
    #menu i{
        color: white;
    }
   
}


