@media screen and (min-width: 993px) {
    .modalities {
        width: 80%;
        margin: 20px auto;
        background: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.448);
    }
}