



body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--cor4);
    margin: 0;
    padding: 0;
  }
 
  .header {
    background-color: #24292e;
    color: #ffffff;
    padding: 20px 0;
  }

  .header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .container h1 {
    margin: 0;
  }

  .header .container select {
    padding: 5px;
    font-size: 16px;
  }

  .modalities {
    width: 80%;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.448);
  }

  .modalities h1 {
    margin: 0;
    font-size: 24px;
  }

  .modality-list {
    list-style-type: none;
    padding: 0;
  }

  .modality-list li 
  {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    
  }

  .modality-list li:last-child 
  {
    border-bottom: none;
  }

  .modality-list a {
    text-decoration: none;
    color: #007bff;
    font-weight: 600;
  }

  .modality-list a:hover {
    text-decoration: underline;
  }

  .modality-details {
    margin-top: 20px;
  }

  .modality-details img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-bottom: 15px;
  }

  .modality-details h2 {
    padding-left: 15px;
    margin-left: -20px;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 22px;
    color:black;
    background-image: linear-gradient(to right ,  var(--cor1), transparent);
  padding: 10px;
  }


  .modality-details p {
    margin: 10px 0;
    color: #555;
  }

  .modality-details ul {
    list-style-type: disc;
    margin: 10px 0 10px 20px;
    color: #555;
  }
 