@charset "UTF-8";

img {
    width: 65%;
}
:root{
    --cor1 :  #04bf0a;
    --cor2:rgba(18, 200, 236, 0.843);
    --cor3: #065716;
    --cor4: #e0e0e0;
}

*{
    overflow: hidden;
    box-sizing: border-box;
    margin: 0px ;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}
main{
   
    position: relative;
    background-image:  linear-gradient(to bottom, var(--cor1), var(--cor2));

}

.tela{
    position: absolute;
    background-color:white;
    width: 300px;
    height: 500px;
    top: 40%;
    left:50%;
    transform:  translate(-50%,-50%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.619);
    transition: width 3s, height 3s ease-in-out;

}
.HeaderLogin{
   
    text-align: center;
    overflow: hidden;
    height: 150px;
   padding-top: 30px;
}