@media screen and (max-width: 992px)
{

    .team ul li {
        padding: 10px;
        margin-top: 50px;
        border: 2px solid var(--cor3);
        border-radius: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
      }
      .team ul li img {
        max-width: 70%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
      }
      .container
      {
          width: 90%;
          margin: 20px auto;
          background: #ffffff;
          padding: 20px;
          border-radius: 5px;
          box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.448);
          padding-bottom: 50px;
          padding-top: 20px;
      }
      
    
    

}