@media screen and (max-width: 992px) {
    h1{
        margin-bottom: 10px;
    }
    nav {
    
        display: none;
        position: fixed;
        padding-top: 90px;
        top: -1%;
        width: 200px;
        right: 1px;
        height: 100vh;
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
        background-color: var(--cor6);
        text-align: center;
    }
    
    nav a {
        display: block;
        color: white;
        border-bottom: 2px solid white;
        padding: 10px;
        margin-top: 20px;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.847);
        text-decoration: none;
    }
      
    }