@charset "utf-8";
:root{
    --cor1 :  #07980cd7;
    --cor2:rgba(18, 200, 236, 0.843);
    --cor3: #065716;
    --cor4: #e0e0e0;
    --cor5:rgb(0, 128, 255);
}


@media screen and (min-width:769px)
{
   
    #burger{display: none;}
    header
    {
        padding-top: 15px;
    }
   
   #navbar
   {
     display: flex;
     flex-direction: row;  
     justify-content: space-around;
     align-items: center;
    
     padding: 10px;
    }
    #login{
        display: none;
    }
    #login1
    {
        width: 80px;
        margin-right: 15px;
        text-decoration: none;
        padding: 10px;
        background: white;
        border-radius: 10px;
        color: black;
        font-weight: 500;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.364);
        cursor: pointer;
        animation: pulse 1s infinite;
        text-align: center;
        
      
    }
    @keyframes pulse 
    {
        0%
        {
            transform: scale(1);
            
        }
        50%
        {
            transform: scale(1.2);
           
        }
        100%
        {
            transform: scale(1);
            
        }
        
    }

    #login:hover{
       
        transition-duration: 0.4s;
        transform:translate(-3px,-3px);
    }

    #menu  {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        
        
    }
    nav a {
        margin: 15px;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        color: black;

    }
     nav a:hover , nav:visited{
        padding: 5px;
        border-bottom:3px solid white ;
        transition-duration: 0.5s;
        transform: translate(-1px,-1px);
    }

    footer
{
    

    background-image: linear-gradient(to bottom, var(--cor1),var(--cor2));
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
    padding-top: 20px;
    
}
#copy{
    color:white;
    font-weight: 500;
    text-shadow: 1px  2px 3px rgba(62, 61, 61, 0.57);
}
#footer_itens a{
    text-decoration: none;
    margin: 10px;
    color: white;
    text-shadow: 1px 0px 1px black;
    font-size: 20px;
    cursor: pointer;
}
#footer_itens a:hover
{
    transition-duration: 0.5s;
    transform: translate(-10px,-10px);
}

}