@charset "UTF-8";


:root{
    --cor1 :  #07980cd7;
    --cor2:rgba(18, 200, 236, 0.843);
    --cor3: #065716;
    --cor4: #e0e0e0;
    --cor5:rgb(0, 128, 255);
}

@media screen and (max-width:769px)
{
    

    .top
    {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
    
    }
    .top a
    {
        display: none;
    }
    #menu{
        display: none;
    }
    nav a{
        display: block;
        padding: 10px;
        color: white;
        text-align: center;
        text-decoration: none;
        background-color: #065716;
        border-top:2px solid var(--cor2) ;
        font-weight: 500;
        cursor: pointer;
        text-shadow: 1px 0px  1px black;
    }
    nav a:hover
    {
        background-color: var(--cor2);
        transition-duration: 0.4s;
        transform:translate(-3px,-3px);
        
        
    }

    #login1
    {
        display: none
    }
    #burger
    {
        margin-right: 20px;
        font-size: 25px;
        padding: 10px;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.422);
        
    }
    #cta{
        text-align: center;
        align-items: center;
        max-width:  550px;
        
        
    }
    #cta h1{
        font-size: 42px;
        padding-bottom: 10px;

    }
    #cta p
    {
        font-size: 19px;
        padding: 10px;
        max-width: 400px;
        margin-left: 45px;
        text-align: center;
      
    }
    #cta_buttons{
        padding: 10px;
        margin: 10px;


    }


    footer{
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    footer div{
        padding: 5px;
    }

}