@charset "utf-8";
:root{
    --cor1 :  #07980cd7;
    --cor2:rgba(18, 200, 236, 0.843);
    --cor3: #065716;
    --cor4: #e0e0e0;
    --cor5:blue;
}

@media (min-width: 768px) and (max-width:991px) {
    .dish{
         flex: 1 1 calc(100% / 3 - 20px)
    }
    
}