@charset "UTF-8";


img {
    height: 35px;
    
    font-size: 25px;
    margin-left: 10px;
}
:root{
    --cor1 :  #07980cd7;
    --cor2:rgba(18, 200, 236, 0.843);
    --cor3: #065716;
    --cor4: #e0e0e0b5;
    --cor5:  #0fc416d7;
}

*{
    box-sizing: border-box;
    margin: 0px ;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}
body{
    background-image: linear-gradient(to bottom,var(--cor1),var(--cor2));
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
    background-size: cover;
    position: relative;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;

}
header {
    background-color: white;

}
ul{
    list-style-type: none;
}
@media screen and (max-width:769px)
 {
    #burger{
        position: relative;
        margin-right: 10px;
        font-size: 25px;
        overflow: hidden;
        padding: 10px;

        
    }
    nav  {

        display: none;
        position: fixed;
        background-image: linear-gradient(to bottom,var(--cor1),var(--cor2));
        padding: 10px;
        border-radius: 5px;
        height: 150px;
        top:3%;
        right: 45px;
        overflow-y: hidden;
        text-align: center;
     }
     nav a{
        display: block;
        color: white;
        padding-top: 10px;
        margin-top: 20px;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.847);
    }
    nav a:hover{
        transform: translate(-1PX,-10px);
       transition-duration: 0.7s;
    }
     
}
.form{
    position: absolute;
    width: 330px;
    height: 210px;
    background-color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.61);
}
h1{
    font-size: 20px;
    text-align: center;
    padding: 15px;
}
input{
    
    height: 35px;
    width: 85%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--cor1);
    margin-top: 25px;
    margin-left: 30px;
}
#sub{
    padding: 0px;
    background-color: var(--cor1);
    color: white;
    font-weight: bold;
}
#sub:hover{
    transform: translate(-1PX,-10px);
    transition: transform 1s ease-in-out;
}